.jumbotron {
    background-color: lightblue;
    color:black;
    margin-top: 50px;
}
footer {
    padding: 10px 12px 0 12px;
    background-color: lightblue;
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 12px !important;
}

.card-hotel p {
    margin-top: 20px;  
}

.btn-reserva {
    width: 100%;
    border-radius: 5px;

}

address p span {
    padding-right: 10px;
}
