.jumbotron {
    background-color: lightblue;
    color:black;
}
footer {
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 10px !important;
}

.card-hotel {
    flex: 1 25%;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
    
}

.btn-reserva {
    width: 100%;

}